*{
    margin: 0%;
    padding: 0%;
   
}
body{
    margin: 0%;
    padding: 0%;
}
.container{
    background-color: #972222f3;
    position: relative;
    padding-bottom: 70px;
}
.backcolor{
    margin-left: 10%;
    margin-right: 10%;
}
.logoimg img{
     margin-top: 5%;
     margin-bottom: 2%;
    width:20%;
    height:20%;
}
.headingh h1{
    padding: 0%;
    margin: 0%;
    height: 10%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7rem;
    color: white;
}
.headingh h3{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    color: black;
}
.header{
    margin-bottom: 3%;
}
.headingtext{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.5rem ;
}
.headingtext p{
    margin-bottom: .5%;
}
 
.cornerimg img{
      width: 10%;
  height: 10%;
  top: 50%;
  left: 50%;
  transform: translate(900.4%, -99.5%);
}
.sectionheader{
    margin-bottom: 5%;
    margin-left: 4%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.sectionheader h1{
     font-family: Arial, Helvetica, sans-serif;
     margin-top: 3px;
    margin-left: 3%;
    font-size: 5rem;
}

.sectionheader img{
    width: 5%;
    height: 8%;
}
.section5{
    margin-top:0%;
    margin-left: 6.5%;
    margin-right: 5%;
}
.section{
    margin-top:10%;
    margin-left: 6.5%;
    margin-right: 5%;
}

.imgs li img{
 width: 60%;
 height: 80%;
}
.imgs li{
    list-style: none;
}
.imgs{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    text-align: center;
}
.imgss img{
    border-radius: 100%;
    
}
ul li p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    text-align: center;
}
.footercont{
    margin-top: 9%;
    background-color:  #972222f3;
}
.footer{
    padding-top: 10%;
    margin-left: 9.3%;
    margin-right: 8%;
    /* padding-bottom: 7%; */
}
.footer h1{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
}
.section2{
    position: relative;
}
/* .cornerimgg img{
  width: 10%;
  height: 10%;
 
  transform: translate(900.4%,-80.5%);
  
  
} */
 .footertext{
    padding-bottom: 7%;
 }
.meee{
    position: relative;
}
.corn{
     position: absolute;
     right: 2.3%;
     bottom: -0.1%;
     
}
.corn img{
    width: 150%;
    height: 150%;
}